<h1>Listing links</h1>

<table>
  <tr>
    <th>Url</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link_to link.url, link.url %></td>
    <td><%= link.user %></td>
  </tr>
<% end %>
</table>

<br />
